/*
font-family: "nautica", sans-serif;
font-weight: 400;
font-style: normal;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: 'PP Hatton', serif;
/*  background: #71E87D;*/
background: rgb(185,255,192);
background: linear-gradient(180deg, rgba(185,255,192,1) -29%, rgba(252,165,165,1) 0%, rgba(255,255,255,1) 33%, rgba(255,229,229,1) 57%, rgba(252,165,165,1) 100%);
opacity: 0;
animation: reveal .3s forwards ease-in;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  padding: 1vh 2vw 1vh 2vw;
  background: #F5F8E8;
  z-index: 200;
  width: 100vw;
  position: fixed;
  border-bottom: 1px dotted black;
  vertical-align: center;
  align-items: center;
}

#home>a{ 
  font-size: 10vh;
  text-decoration: none;
}

#home{
    z-index: 500;
    display: block;
    align-items: center;
    position: relative;
    margin-bottom: -4vh;
}

#cursor:hover{
  transform: rotate(10deg);
}

h1 {
  font-style: italic;
  font-weight: 500;
  font-size: 7vh;
  margin-bottom: -2vh;
  text-decoration: underline;
     font-weight: 300;
}

h2 {
  font-style: italic;
  font-weight: 300;
  font-size: 4vh;
}

.round {
  text-align: center;
  width: 100%;
  position: fixed;
/*  left: 0;*/
  display: block;
  justify-content: center;
  margin-left: -2vw;
   font-weight: 300;
}

#timer {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: gray;
  border: 1px solid gray;
  width: 5vw;
  padding: .1rem;
  text-align: center;
  margin-left: auto;
}

#count {
  font-size: 7vh;
  display: flex;
  justify-content: right;
  margin-top: vh;
/*  text-shadow: 0px 0px 25px #84DD36;*/
transition: .7s;
}

#container{
  display: flex;
}

.cardContainer {
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 18.5vh;
  margin-bottom: 35vh;
  height: 140vh;
/*  margin-left: 2vw;*/
}

.memory-game {
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
  perspective: 1000px;
}

.memory-card {
  position: relative;
  margin: 2vh;
  width: 140px;
  height: 196px;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform .5s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9); 
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
  border-radius: 2vh;
}

.memory-card:hover{
  cursor: alias;
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2vh;
  backface-visibility: hidden;
}

.back-face:hover{
    filter: brightness(90%);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}

.buttons {
/*  align-self: flex-start; */
  margin: 2vw;
/*  margin-top: 20vh;*/
}


#zoomout,#zoomin{
  position: fixed;
}

#zoomin{
  left: 94.5vw;
  top: 21%;
}

#zoomout{
  left: 2vw;
  top: 21%;
}

button {
  width: 3.5vw;
  height: 4.5vh;
  font-size: 4vh;
  background: #F5F8E8;
  border-radius: 50%;
  color: gray;
  border: 1px solid gray;
  z-index: 300;
  cursor: pointer;
  transition: .2s;
}

button:hover {
  color: #F5F8E8;
  background: gray;
}

#zoomout:hover{
  cursor: zoom-out;
}

#zoomin:hover{
  cursor: zoom-in;
}

#mute, #sound{
  position: fixed;
  top: 93%;
  right: 2vw;
  width: 3vw;
  height: 4vh;
  background: none;
  border: none;
  margin: ;
}

#mute{
  display: none;
}

.soundbuttons:hover{
  cursor: pointer;
  z-index: 150;
}

#mute>img{
  width: 1.5vw;
}

#sound>img{
  width: 1.5vw; 
}


#congrats {
  display: flex;
  flex-direction: column; /* Set flex-direction to column */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6.5vw;
  position: fixed;
  z-index: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #F5F8E8;
  width: 95vw;
  height: 55vh;
  border: 1px solid black;
  border-radius: 3vh;
  visibility: hidden;
  opacity: 0; 
  transition: .45s;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(1, 134, 45, 0.89);
  box-shadow: 0px 0px 15px 0px rgba(1, 134, 45, 0.89);
  line-height: 1.1;
}
p{
  margin-bottom: 4vh;
}


#link .firstletter{
  font-size: 6vw;
}

#cursor{
  width: 9vw;
}

.spark{
  z-index: 100;
}

.firstletter {
  font-family: "Mea Culpa", cursive;
  font-weight: 300;
  font-style: normal;
}
#r{
  font-size: 8vh;
}

#link{
  font-size: 5vw;
  color: gray;
  transition: .2s;
}

#link:hover{
  color: #71E87D;
}

a{
   font-weight: 300;
}

@keyframes reveal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
